/* Page background */
body {
background: #e5e5e7;
  margin: 0;
  font-family: Arial, sans-serif;
}



/* Wrapper for entire page */
.map-wrapper {
  padding: 20px;
  color: #3f4355;
}

/* Page title */
.map-heading {
  font-size: 24px;
  color: #514242;
  margin-bottom: 16px;
  letter-spacing: 0.5px;
}


.button-row {
  display: flex;
  gap: 12px;
  margin-bottom: 18px;
}

/* Dark theme buttons */
.clear-btn {
  margin:1px;
  padding: 10px 16px;
  background: #2f2f38;
  color: #e6e6e9;
  border: 1px solid #3a3a45;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
}

.clear-btn:hover {
  background: #3a3a45;
  transform: translateY(-2px);
}

/* Map Container */
.map-container {
  position: relative;
  width: 100%;
  height: 75vh;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
}

/* Map Box */
.map-box {
  width: 100%;
  height: 100%;
}

/* Searchbar floating over map */
.searchbar-wrapper {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 100;
  padding: 0;         /* No padding */
  background: none;   /* Remove white background */
  border-radius: 0;
  box-shadow: none;   /* Remove shadow */
}


/* Status text */
.status-text {
  margin-top: 12px;
  color: #444;
  font-size: 14px;
}
